#{extends 'main.html' /}
#{set title:'News - Oculus Sample Website' /}

<h1>Articles</h1>


#{list items:articles, as:'article'}
<div class="short-article">
	<div class="article-title">
		<a class="theme-link" href="/themes/${article.section.id}">${article.section.name}</a> - <span class="title">${article.title}</span>
	</div>
	<div class="article-date">
		${article.date}
	</div>
	<div class="article-text">
	    ${article.text}
	</div>
	<div class="article-footer">
		By <a href="#">${article.author}</a>
	</div>
</div>
#{/list}
